openapi: "3.0.3"

info:
  title: "Sample"
  version: "1.0.0"

paths:
  "/users/register":
    post:
      summary: "ユーザー登録"
      description: "新規ユーザー登録時のエンドポイント"
      tags: ["users"]
      responses:
        "200":
          description: "ユーザー作成成功時にユーザー情報とプロダクトのパスワードを返す"
          content:
            application/json:
             schema:
              type: object
              properties:
                id: {type: number}
                email: {type: string}
                product: {type: number}
      requestBody:
        description: "メアド、パスワードをjson形式で受け取る"
        content:
          application/json:
            schema:
              type: object
              properties:
                email: {type: string}
                password: {type: string}

  "/users/{userId}/update":
   put:
      summary: "ユーザー情報更新"
      description: "ユーザー情報更新時のエンドポイント"
      tags: ["users"]
      parameters:
      - name: userId
        required: true
        in : path
        schema: {type: number}
        example: 1
      responses:
        "200":
          description: "ユーザー作成成功時に情報を返す"
          content:
            application/json:
             schema:
              type: object
              properties:
                name: {type: string}
                email: {type: string}
                massage: {type: string}
                product: {type: number}
      requestBody:
        description: "メアド、パスワードをjson形式で受け取る"
        content:
          application/json:
            schema:
              type: object
              properties:
                name: {type: string}
                massage: {type: string}

  "/users/{userId}/get":
   get:
      summary: "ユーザー情報更新"
      description: "ユーザー情報更新時のエンドポイント"
      tags: ["users"]
      parameters:
      - name: userId
        required: true
        in : path
        schema: {type: number}
        example: 1
      responses:
        "200":
          description: "ユーザー作成成功時に情報を返す"
          content:
            application/json:
             schema:
              type: object
              properties:
                name: {type: string}
                email: {type: string}
                massage: {type: string}
                product: {type: number}

  "/users/login":
    post:
      summary: "ログイン"
      description: "ログイン時のエンドポイント"
      tags: ["users"]
      responses:
        "200":
          description: "ユーザー情報を"
          content:
            application/json:
             schema:
              type: object
              properties:
                name: {type: string}
                email: {type: string}
                massage: {type: string}
                product: {type: number}
      requestBody:
        description: "メアド、パスワードをjson形式で受け取る"
        content:
          application/json:
            schema:
              type: object
              properties:
                email: {type: string}
                password: {type: string}

  "/users/product":
    post:
      summary: "プロダクト登録"
      description: "プロダクトからの受信しユーザーのis_valifyをtrueに"
      tags: ["users"]
      parameters:
      - name: userId
        required: true
        in: path
        schema: {type: number}
        example: 1
      responses:
        "200":
          description: "ユーザー作成成功時に情報を返す"
          content:
            application/json:
             schema:
              type: object
              properties:
                message: {type: string, example: "success"} 
        "404":
          description: "ユーザーが存在しない場合エラーを返す"
          content:
            application/json:
             schema:
              type: object
              properties:
                message: {type: string, example: "No such user"}
      requestBody:
        description: "プロダクトから暗証番号をpost"
        content:
          application/json:
            schema:
              type: object
              properties:
                value: {type: number}

  
  "/sleeps/{productId}/sleep":
   post:
      summary: "就寝データ"
      description: "ラズパイから寝た時(充電の感圧感圧センサが反応した時)に現時刻をその日で絞り込んでsleepsてーブルに保存するエンドポイント"
      tags: ["sleeps"]
      parameters:
      - name: productId
        required: true
        in : path
        schema: {type: number}
        example: 1
      responses:
        "200":
          description: "就寝データ保存時"
          content:
            application/json:
             schema:
              type: object
              properties:
                message: {type: string, example: "OK"}
      requestBody:
        description: "メアド、パスワードをjson形式で受け取る"
        content:
          application/json:
            schema:
              type: object
              properties:
                datetime: {type: string, example: "YYYY:mm:dd H:i:s"}

  "/sleeps/{productId}/wakeup":
   post:
      summary: "起床データ"
      description: "ラズパイから起きた時(充電の感圧感圧センサが反応した時)に現時刻をその日で絞り込んでsleepsてーブルに保存するエンドポイント"
      tags: ["sleeps"]
      parameters:
      - name: productId
        required: true
        in : path
        schema: {type: number}
        example: 1
      responses:
        "200":
          description: "起床データ保存時"
          content:
            application/json:
             schema:
              type: object
              properties:
                message: {type: string, example: "OK"}
      requestBody:
        description: "メアド、パスワードをjson形式で受け取る"
        content:
          application/json:
            schema:
              type: object
              properties:
                datetime: {type: string, example: "YYYY:mm:dd H:i:s"}

  "/sleeps/{userId}/data":
    get:
      summary: "睡眠情報取得API"
      description: "ユーザー睡眠状況を範囲指定で取得する"
      tags: ["sleeps"]
      parameters:
      - name: userId
        required: true
        in : path
        schema: {type: number}
        example: 1
      - name: start
        required: true
        in : query
        schema: {type: number}
        example: 20210901

      - name: end
        required: true
        in : query
        schema: {type: number}
        example: 20210907
      responses:
        "200":
          description: "指定日時範囲の睡眠データを取得するエンドポイント"
          content:
            application/json:
             schema:
              type: array
              items:
                type: object
                properties:
                  sleeped_at: {type: string, example: "YYYY/mm/dd H:i:s"}
                  wakeuped_at: {type: string, example: "YYYY/mm/dd H:i:s"}
                  sleep_time: {type: string, example: "8時間20分"}
           